/*в дальнейшем я поменяю два спрайта на один, когда определюсь со всемэлементами которые хочу туда загнать :)) */
/*проверь пожалуйста, подключился ли у меня шрифт. не могу понять, не вижу разницы */

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  text-transform: uppercase;
  background-color: rgb(242, 242, 242);
}

/*скрывает контент предназначенный только для "читалок"*/
.hidden-content {
  position: absolute;
  left: -9999px; 
}

header {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.logo-main {
  position: absolute;
  top: 0;
  left: 45%;
  width: 138px;
  height: 70px;
  margin-left: 50%;
}

/*меню навигации*/
.navigation-main {
  font-size: 0;/*убирает пробелы между inline-blocks*/
  background-color: rgb(255, 255, 255);
}

.navigation-main a {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  width: 100%;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.navigation-main a:hover {
  color: rgb(129, 179, 210);
}

.navigation-main a:active {
  color: rgb(129, 179, 210);
}

.navigation-main ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-main li {
  display: inline-block;
  vertical-align: top;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;/*восстанавливает размер шрифта после обнуления пробелов*/
  line-height: 26px;
  font-weight: bold;
  width: 20%;
}

.navigation-main li:nth-child(3) {
  margin-left: 20%;
}

.logo-main {
  width: 137px;
  height: 70px;
  display: block;
  margin: 0 auto;
}

/*main*/
main {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  min-height: 642px;
  padding-top: 70px;
  background: rgb(87,158,217) url('../img/background-hero.jpg') no-repeat;
  background-position: center -80px;
}

.welcome {
  width: 458px;
  height: 352px;
  margin: 0 auto 80px;
}

.brand-text-wrapper {
  background-color: rgb(255, 255, 255);
}

.brand-text,
.brand-text-intro {
  text-align: center;
}

.brand-text {
  display: block;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 34px;
  padding-top: 59px;
  font-size: 21px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.brand-text-intro {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 53px;
  font-size: 14px;
  line-height: 21px;
  color: rgb(0, 0, 0);
}

.advantage-first-wrapper{
  background: rgb(178,143,113) url('../img/background-sedona.jpg') no-repeat;
  background-position: center right;
  background-size: 67%;
}

.advantage-second-wrapper{
  background: rgb(178,143,113) url('../img/background-bridge.jpg') no-repeat;
  background-position: center left;
  background-size: 67%;
}

.advantage {
  width: 33%;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(129, 179, 210);
}

.advantage-name {
  width: 150px;
  margin: 0 auto;
  padding-bottom: 25px;
  padding-top: 46px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.advantage-number {
  position: relative;
  top: -25px;
  display: inline-block;
  z-index: 2;
  padding: 0 5px;
  margin: 0 auto;
  margin-bottom: 21px;
  background-color: rgb(129, 179, 210);
}

.number-wrapper::after {
  content: '';
  position: relative;
  display: block;
  z-index: 1;
  top: -56px;
  margin: 0 auto;
  width: 50px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.advantage-text {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 39px;
}

.advantage-row {
  background-color: rgb(238, 238, 238);
}

.advantage-row .advantage {
  width: 33%;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(238, 238, 238);
}

.advantage-row .advantage-name {
  padding-top: 50px;
}

.advantage-row .advantage-number {
  background-color: rgb(238, 238, 238);
}

.advantage-row .number-wrapper::after {
  content: '';
  position: relative;
  display: block;
  z-index: 1;
  top: -56px;
  margin: 0 auto;
  width: 50px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.advantage-row .advantage-text {
  width: 266px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content:'';
  display: table;
  clear: both;
}

.feature-wrapper {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.feature {
  width: 33%;
  text-align: center;
}

.feature-name {
  position: relative;
  width: 150px;
  margin: 0 auto;
  margin-top: 60px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  padding-top: 105px;
  padding-bottom: 28px;
}

.feature-text {
  width: 285px;
  margin: 0 auto;
  padding-bottom: 84px;
}

.feature-home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 75px;
  height: 72px;
  margin-left: -38px;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -10px -712px;
}

.feature-food::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 75px;
  height: 72px;
  margin-left: -38px;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -10px -622px;
}

.feature-present::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 75px;
  height: 76px;
  margin-left: -38px;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -10px -804px;
}

.form-wrapper {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.form-description-name {
  width: 435px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 55px;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}

.form-description-text {
  width: 435px;
  margin: 0 auto;
  padding-bottom: 48px;
  font-size: 14px;
  line-height: 24px;
}

.form-header {
  width: 568px;
  margin: 0 auto;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 33px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(118, 99, 87);
}

.form-content {
  width: 454px;
  margin: 0 auto;
  padding: 57px 57px;
  font-size: 0;
  background-color: rgb(255, 255, 255);
}

.btn-search {
  display: block;
  padding-top: 18px;
  margin-top: 54px;
  padding-bottom: 20px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(129, 179, 210);
  text-decoration: none;
}

.form-date span {
  display: inline-block;
  width: 112px;
  margin-bottom: 29px;
  padding: 6px 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.form-date input {
  width: 288px;
  padding: 6px 38px 6px 15px;
  margin-bottom: 29px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(242, 242, 242);
  border: none;
}

.count-buttons {
  display: inline-block;
  height: 38px;
  width: 114;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background-color: rgb(242, 242, 242);
}

.form-count-adults,
.form-count-children {
  display: inline-block;
}

.form-count-adults>span {
  display: inline-block;
  width: 112px;
  padding: 6px 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.form-count-children>span {
  display: inline-block;
  width: 56px;
  padding: 6px 0 6px 43px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.form-content button {
  width: 38px;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: rgb(169, 169, 169);
  font-weight: bold;
  background-color:rgb(242, 242, 242);
}

.count-number {
  display: inline-block;
  width: 38px;
  height: 32px;
  padding-top: 6px;
  text-align: center;
  font-size: 14px;
}

.form-date {
  position: relative;
}

.calendar {
  position: absolute;
  bottom: -32px;
  right: 0;
  margin-bottom: 19px;
  display: block;
  width: 36px;
  height: 36px;
  background: rgb(242, 242, 242) url('../img/calendar-grey.png') no-repeat;
  background-position: center;
}

.footer-main {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 36px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.footer-instagram-link {
  width: 33%;
  text-align: center;
}

.footer-instagram-link a {
  display: inline-block;
  vertical-align: top;
  padding-top: 11px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.footer-social {
  width: 33%;
  text-align: center;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 0 3px;
  vertical-align: top;
  text-decoration: none;
  background-color: rgb(129, 179, 210);
  font-size: 0;
}

.social-btn-twitter {
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -10px -214px;
}

.social-btn-twitter:hover {
  background-position: -10px -350px;
}

.social-btn-fb {
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -10px -10px;
}

.social-btn-fb:hover {
  background-position: -10px -146px;
}

.social-btn-youtube {
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -10px -418px;
}

.social-btn-youtube:hover {
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -10px -554px;
}

.footer-copyright {
  width: 33%;
  text-align: center;
}

.copyright-text {
  display: inline-block;
  vertical-align: top;
  padding-top: 12px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 26px;
}

.copyright-logo {
  display: inline-block;
  width: 113px;
  height: 39px;
  margin-top: 5px;
  margin-left: 6px;
  font-size: 0;
  text-decoration: none;
}

/*стили для catalog*/
/*filters*/
.filter-wrapper {
  background: rgb(129, 179, 210) url('../img/background-blured.jpg') no-repeat;
  background-position: center;
}

.inner-block {
  padding: 0 6%;
}

.filter-infrastructure {
  width: 20%;
  background-color: rgba(60, 103, 137);
}

.filter-infrastructure h2 {
  padding-top: 28px;
  padding-bottom: 27px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.filter-house-type {
  width: 20%;
  background-color: rgba(60, 103, 137);
}

.filter-house-type h2 {
  padding-top: 28px;
  padding-bottom: 27px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

/*two side columns*/
.filter-checkbox {
  position: relative;
  display: block;
  margin-bottom: 23px;
  padding-left: 41px;
  padding-top: 2px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.filter-checkbox input[type="checkbox"] {
  display: none;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 22px;
  background: url('../img/checkbox.png') no-repeat;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 22px;
  background: url('../img/checkbox-checked.png') no-repeat;
}

/*price filter*/
.price-filter {
  width: 40%;
}

.wrapper-search {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(229, 229, 229);
}

.results-amount {
  display: inline-block;
  width: 130px;
  vertical-align: top;
  padding-top: 28px;
  margin-right: 45px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.results-filter {
  display: inline-block;
  min-width: 92px;
  vertical-align: top;
  padding-top: 33px;
  margin-top: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.filter-value {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;/*убирает пробелы между inline-blocks*/
}

.filter-value li {
  display: inline-block;
  padding: 33px 17px;
  font-size: 12px;
  line-height: 18px;
  color: rgb(177, 177, 177);
}

.range-price a {
  color: rgb(129, 179, 210);
  text-decoration: none;
}

.range-type a {
  color: rgb(178, 178, 178);
  text-decoration: none;
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.range-type a:hover {
  color: rgb(129, 179, 210);
}

.range-rating a {
  color: rgb(178, 178, 178);
  text-decoration: none;
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.range-rating a:hover {
  color: rgb(129, 179, 210);
}

.hotel {
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 0 6%;
  background-color: rgb(255, 255, 255);
}

.hotel .hotel-image {
  width: 135px;
  height: 90px;
  padding: 30px 30px 30px 0;
}

.hotel-name {
  padding-top: 25px;
  margin: 0;
  margin-bottom: 7px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotel-name a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.hotel-name a:hover {
  color: rgb(129, 179, 210);
}

.hotel-information {
  margin-right: 6px;
}

.hotel-type {
  display: block;
  margin-bottom: 14px;
}

.hotel-information .btn {
  display: inline-block;
  vertical-align: top;
  padding: 3px 16px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: rgb(129, 179, 210);
  color: rgb(255, 255, 255);
}

.hotel-information .btn:hover {
  background-color: rgb(102, 158, 192);
}

.hotel-price {
  display: block;
  margin-bottom: 14px;
}

.hotel-booking .btn {
  display: inline-block;
  vertical-align: top;
  padding: 3px 16px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: rgb(118, 99, 87);
  color: rgb(255, 255, 255);
}

.hotel-booking .btn:hover {
  background-color: rgb(96, 78, 67);
}

.rating-block {
  width: 120px;
}

.rating-points {
  background-color: rgb(242, 242, 242);
  color: rgb(102, 102, 102);
  padding: 0 16px;
  margin-top: 50px;
}

.rating-stars ul {
  padding: 0;
  margin: 0;
  margin-top: 29px;
  list-style: none;
}

.rating-stars li {
  float: right;
  vertical-align: top;
  margin-left: 2px;
  width: 18px;
  height: 17px;
  background: url('../img/star-blue.png') no-repeat;
}
